<app-header></app-header>
<section class="flex flex-row justify-center items-center bg-slate-900 h-screen max-xl:h-165">
  <ul class="grid xl:grid-cols-3 lg:grid-flow-col gap-5">
    <li class="max-w-80 text-center bg-slate-200 p-7 rounded-md hover:bg-slate-300 hover:scale-105 transition-all duration-300 cursor-pointer">
      <mat-icon style="color: #005cbb;">settings</mat-icon>
      <h1 class="mb-5 text-priblue">Manage your customers</h1>
      <hr class="bg-gray-500 h-px border-none mb-5">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti totam consequatur quaerat dolor blanditiis, deleniti adipisci id molestias. Facilis aliquid explicabo consequatur, officia accusantium, nemo veniam molestiae soluta sint officiis deserunt itaque eum eaque sequi alias impedit blanditiis minima sit suscipit pariatur. Quod tempora officia assumenda enim, illo aliquid magnam!</p>
    </li>
    <li class="max-w-80 text-center bg-slate-200 p-7 rounded-md hover:bg-slate-300 hover:scale-105 transition-all duration-300 cursor-pointer">
      <mat-icon style="color: #005cbb;">remove_red_eye</mat-icon>
      <h1 class="mb-5 text-priblue">Analyze your list</h1>
      <hr class="bg-gray-500 h-px border-none mb-5">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti totam consequatur quaerat dolor blanditiis, deleniti adipisci id molestias. Facilis aliquid explicabo consequatur, officia accusantium, nemo veniam molestiae soluta sint officiis deserunt itaque eum eaque sequi alias impedit blanditiis minima sit suscipit pariatur. Quod tempora officia assumenda enim, illo aliquid magnam!</p>
    </li>
    <li class="max-w-80 text-center bg-slate-200 p-7 rounded-md hover:bg-slate-300 hover:scale-105 transition-all duration-300 cursor-pointer">
      <mat-icon style="color: #005cbb;">directions_run</mat-icon>
      <h1 class="mb-5 text-priblue">More agility</h1>
      <hr class="bg-gray-500 h-px border-none mb-5">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti totam consequatur quaerat dolor blanditiis, deleniti adipisci id molestias. Facilis aliquid explicabo consequatur, officia accusantium, nemo veniam molestiae soluta sint officiis deserunt itaque eum eaque sequi alias impedit blanditiis minima sit suscipit pariatur. Quod tempora officia assumenda enim, illo aliquid magnam!</p>
    </li>
  </ul>
</section>